
.body{background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;


    
   
}

.back{
    border:  ;
    margin-top: 10rem;
    height: 20rem;
    width: 25rem;
    margin-left: 25rem;
    backdrop-filter: blur(5px)

}

.reg{
    
    text-align: center;
}
#reg-form{
    text-align: center;
    border: 20px;
    border: black;
    
}